<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
	    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.autopro.digital">AutoPro Digital</a></strong>
			- A niche website builder for auto repair shops.
		</h5>
    		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/anthonygarvan/theconstitution">The Constitution</a></strong>
			- The U.S. Constitution, reimagined as a git repository. Each amendment is a commit.
		</h5>
    		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://www.anthonygarvan.com/oneinamillion/">One in a Million</a></strong>
			- A Census-powered online quiz, telling you the odds of a random American being just like you.
		</h5>
    		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://federalist.18f.gov.s3-website-us-east-1.amazonaws.com/site/18F/allregs/">All Regs</a></strong>
			- Reformatting of the .txt of the U.S. Code of Federal Regulations into a responsive static website.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://anthonygarvan.github.io/richdotpoordot/">Rich Dot, Poor Dot</a></strong>
			- As simulation of the emergence of inequality.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://anthonygarvan.github.io/wordgalaxy/">Word Galaxy</a></strong>
			- The 20,000 most common words in English, visualized by their meaning.
		</h5>
    		<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;<strong>
				<a href="https://anthonygarvan.wordpress.com/2014/12/19/angel-or-bitch-how-we-sing-about-women/">Angel or Bitch? How we Sing About Women</a></strong>
			- A blog post about the changing language of gender in music, from web-scraped data.
		</h5>
		<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;<strong><a href="https://medium.com/@anthonygarvan/hey-microsoft-the-internet-made-my-bot-racist-too-d897fa847232#.48esumjku">
				Hey Microsoft, the Internet Made My Bot Racist, Too</a></strong>
			- Medium post about my experience with racist bots, and a warning to data scientists and engineers.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>
				<a href="https://github.com/anthonygarvan/republic">
					Republic</a></strong>
			- A democratic microservice governance platform.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="http://anthonygarvan.github.io/budgetfadeaway/">
				Budget Fadeaway</a></strong>
			- Every line item in the White House's 2017 budget proposal, visualized and searchable.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>
				<a href="https://github.com/anthonygarvan/republic">
					Coffeemate</a></strong>
			- A virtual-coffee matchmaking slackbot.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>
				<a href="https://github.com/anthonygarvan/minhash">
					MinHash</a></strong>
			- A pure python implementation of the MinHash algorithm for fuzzy matching documents.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>
				<a href="https://github.com/18F/checklistomania">
					Checklistomania</a></strong>
			- Centrally managed checklist tool for complex procedures (onboarding, offboarding, etc.). 
			Reached <a href="https://news.ycombinator.com/item?id=11549101">#4 on HackerNews</a>.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong>
				<a href="https://github.com/anthonygarvan/sqlvalidator">
					sql-validator</a></strong>
			- A demo repository showing that SQL can, and should, be used as a language for writing business rules.
		</h5>
    </div>
  </div>
</div>
</section>
